.form {
  min-width: 500px;
  margin: 0 auto;
  position: relative;
  max-width: 850px;
  &.form-popup {
    width: 100%;
  }
  .alert {
    display: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
  }
  .form-item {
    margin-bottom: 5px;
    position: relative;
    //    input {
    //      border: 1px solid #828C18;
    //      border-radius: 0px;
    //    }
    label {
      display: block;
      margin: 0px;
      padding: 5px 0px;
      //text-align: right;
      font-size: 12px;
      font-weight: normal;
    }
    input[type="checkbox"] {
      margin-top: 8px;
    }
    &.error {
      input {
        background-color: #FFE2E2;
        border: 1px solid #BF3031;
      }
      .messages {
        @include clear-ul();
        color: #BF3031;
        li {
          position: absolute;
          bottom: 18px;
          right: -150px;
          width: 150px;
          text-align: left;
        }
      }
    }
    &.field-file {
      .progress.process-progress {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px 15px;
        width: 100%;
        height: 100%;
        .progress-bar {
          padding-top: 7px;
        }
      }
      .file-field {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
    .previews {
      margin-top: 15px;
      & .col:last-child {
        text-align: right;
      }
      a.remove:hover {
        text-decoration: none;
      }
      .tree-wrapper ol.tree-list {
        min-height: 0px;
      }
    }
    .form-item-desc {
      font-size: 11px;
    }
    &.field-textarea {
      label {
        text-align: left;
      }
      textarea {
        margin-bottom: 10px;
      }
    }
    &.field-image {
      .tree-list {
        .tree-item {
          &.no-save {
            background-color: #fffc82;
          }
        }
      }
    }
  }
  .form-actions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #E5E5E5;
    .buttons {
      text-align: right;
    }
  }
}
