body.dragging, body.dragging * {
  cursor: move;
}
.tree-wrapper {
  overflow: hidden;
  ol.tree-list {
    padding: 0px;
    min-height: 500px;
    transition: 0.2s;
    margin: 10px 0px 0px 0px;
    position: relative;
    .placeholder {
      position: absolute;
      border: none;
      height: 3px;
      width: 400px;
      background: #bfbfbf;
      padding: 0px;
      margin: 0px 0px 0px 0px;
      z-index: 1;
      &:before {
        position: absolute;
      }
    }
    ol {
      li {
        border-left: 1px solid #ddd;
        &:first-child {
          margin-top: 7px;
        }
      }
    }
    li {
      transition: 0.2s;
      display: block;
      padding: 8px 0px 8px 30px;
      cursor: move;
      margin: 0px 0px;
      border-top: 1px solid #ddd;
      background-color: #ffffff;
      background-image: url("#{$base-img-url}draggable.png");
      background-repeat: no-repeat;
      background-position: 4px 12px;
      position: relative;
      .row .view-item-tree-field:last-child {
        width: 20%;
        text-align: right;
        position: absolute;
        right: 5px;
        top: 5px;
      }
      &.dragged {
        position: absolute;
        max-height: 200px;
        overflow: hidden;
        opacity: 0.4;
        z-index: 2000;
        background: rgba(136, 136, 136, 0.47);
      }
      .actions {
        border-left: 1px solid #ddd;
      }
      &.odd {
        background-color: #f9f9f9;
      }
      &:hover {
        background-color: #f5f5f5;
      }
      &.changed {
        background-color: #fffc82;
      }
      &.success {
        background-color: #9eff9d;
      }
    }
    &.disabled li {
      background-image: none;
      cursor: default;
    }
  }
}
