<div><span style="font-size: 14px;">Если Вы все еще не уверены в том, что театр – это именно то, что нужно Вашему ребенку, мы приведем еще несколько
    примеров, почему театральное искусство положительно сказывается на развивающуюся личность.&nbsp;</span><br></div>
<span style="font-size: 14px;">
</span>
<div><span style="font-size: 14px;">Помимо доводов, которые мы привели Вам в этой статье (ссыль на Спектр предоставляемых услуг), приведем еще
    несколько аргументов.&nbsp;</span></div><span style="font-size: 14px;">
</span>
<div><br></div><span style="font-size: 14px;">
</span>
<div><span style="font-weight: bold; font-size: 14px;">- Общение и адаптация в коллективе.</span></div><span
        style="font-size: 14px;">
</span>
<div><span style="font-size: 14px;">Это один из навыков, который чрезвычайно важен для любого родителя: все мы хотим, чтобы наш ребенок свободно
    чувствовал себя в социуме, а развивать этот навык – одна из целей студии «Данко»&nbsp;</span></div><span
        style="font-size: 14px;">
</span>
<div><span style="font-size: 14px;">Помимо развивающих игр и квестов, которые помогут чувствовать себя комфортно как активному непоседе, так и
    стеснительному скромняшке, мы учим детей взаимодействовать друг с другом. Работая на сцене, проигрывая различные
    жизненные ситуации, Ваш ребенок приобретет важный опыт для различных моделей общения: положение тела, выражение глаз
    или интонация голоса.&nbsp;</span></div><span style="font-size: 14px;">
</span>
<div><br></div><span style="font-size: 14px;">
</span>
<div><span style="font-weight: bold; font-size: 14px;">- Физическая активность&nbsp;</span></div><span
        style="font-size: 14px;">
</span>
<div><span style="font-size: 14px;">Одним из важных факторов, влияющих на работу актера, является физическая подготовка и пластика. Коллектив «Данко»
    также уделяет этому особое внимание – даже если мы не ставим танцевальные номера, мы даем детям возможность не
    только выплеснуть энергию, но и поворачиваем ее в нужное русло. Это своеобразное спасение тех родителей, которые
    бояться, что их «живчики» никак не растеряют свою активность, и, в то же время мы следим, чтобы малоактивные детки
    больше двигались и набирали форму.&nbsp;</span></div><span style="font-size: 14px;">
</span>
<div><br></div><span style="font-size: 14px;">
</span>
<div><span style="font-weight: bold; font-size: 14px;">- Развитие слуховой и зрительной памяти&nbsp;</span></div><span
        style="font-size: 14px;">
</span>
<div><span style="font-size: 14px;">Благодаря специфике работы в нашем театральном кружке, ребенок быстро учиться запоминать большие объемы информации.
    Это и речевые упражнения, и текст для роли (причем не только свой, а всего спектакля), расположение декораций и
    актеров в мизансценах. Как следствие – быстрее развивается слуховая и зрительная память, ребенок становится более
    внимательным и, соответственно, легче усваивает информацию, радуя родителей успехами в школе.&nbsp;</span></div>
<span style="font-size: 14px;">
</span>
<div><br></div><span style="font-size: 14px;">
</span>
<div><span style="font-weight: bold; font-size: 14px;">- Самодисциплина и самоорганизация&nbsp;</span></div><span
        style="font-size: 14px;">
</span>
<div><span style="font-size: 14px;">Театр – один огромный механизм, где каждый актер – шестеренка, без которой механизм сломается. Мы стараемся сразу
    привить ребенку осознание собственной значимости и ответственности. Дети быстро учатся нести ответственность за свои
    действия, реквизит и костюм. Мы стараемся дать понять каждому ребенку, что конечный результат зависит только от его
    желания, собранности и готовности работать.&nbsp;</span></div><span style="font-size: 14px;">
</span>
<div><br></div><span style="font-size: 14px;">
</span>
<div><span style="font-weight: bold; font-size: 14px;">- Уверенность в себе&nbsp;</span></div><span
        style="font-size: 14px;">
</span>
<div><span style="font-size: 14px;">Большинство родителей, отдавая ребенка в студию, чаще всего надеяться, что их ребенок получит возможность избавится
    от комплексов, неуверенности в себе, сможет самореализоваться и ощутить собственную нужность. А театральная студия
    «Данко» реализует эти надежды на практике. Мы даем детям возможность проявлять инициативу, достигать маленьких побед
    над собой. А восторженные аплодисменты зрителей, удовлетворение от прекрасно проделанной работы – легко поднимут
    самооценку Вашего ребенка.&nbsp;</span></div>
<div><span style="font-size: 14px;"><br></span></div>
<div style="line-height: 1.2;">
    <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 1.2;"><span
            style="font-size:12.0pt;line-height:115%;font-family:" times="" new="" roman","serif""=""><span
            style="font-size: 14px;"><b>-
Развитие логического и аналитического мышления</b></span>
        <o:p></o:p>
        </span></p>
    <span style="font-size: 14px;">

</span>
    <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 1.2;"><span
            style="font-size:12.0pt;line-height:115%;font-family:" times="" new="" roman","serif""=""><span
            style="font-size: 14px;">Разыгрывая
роли различных персонажей, ребенок сталкивается с задачей передать ту или иную
эмоцию. Для этого ему потребуется научиться понимать, почему персонаж поступает
и реагирует именно так. Для каждого действия руководитель совместно с актером
выстраивает логическую цепочку, анализирует каждую фразу, поскольку достоверно
передать чужие реакции без понимания мотивов, мышления персонажа – практически нереально.
Постепенно это входит в привычку и уже не требует обсуждений и рекомендаций
режиссера – маленький актер самостоятельно и интуитивно анализирует свою роль.</span></span></p>
    <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 1.2;"><span
            style="font-size:12.0pt;line-height:115%;font-family:" times="" new="" roman","serif""=""><span
            style="font-size: 14px;"><br></span>
        <o:p></o:p>
        </span></p>
</div><span style="font-size: 14px;">
</span>
<div><span style="font-size: 14px;">Если Вы все еще не верите нам, то театральная студия «Данко» приглашает вас по адресу: ул. Пушкина, 19/11
    Симферопольский городской театр эстрады на пробную репетицию, чтобы Вы и Ваш
    ребенок убедились сами.</span>
</div>