<form id="<%- form.id %>" role="form" target="_blank" class="app-form container-fluid" <%- attributes %> method="post" action="" >
    <div class="alert alert-danger" role="alert">Error</div>
    <div class="form-fields">
        <% for (var key in fields) { %>
            <%- fields[key] %>
        <% } %>
    </div>
    <div class="form-actions row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
            <% if (typeof form.buttons.submit == 'object') { %>
            <input type="submit" class="btn btn-primary" value="<%- (form.buttons.submit.title || 'submit') %>"/>
            <% } %>

            <% if (typeof form.buttons.cancel == 'object') { %>
            <a class="btn btn-warning form-cancel-button"><%- (form.buttons.cancel.title || 'cancel') %></a>
            <% } %>
        </div>
    </div>
</form>