<% layout('/layout/main') %>
<% block('title', (page.type ? (page.type + ' ') : '') + title + (page.eventDate ? (' (' + moment(page.eventDate).format('LL') + ')') : '')); %>
<% video = page.video %>
<% picture = page.picture && page.picture[0] ? page.picture[0].publicPath : false %>

<div class="page-content">
    <% if(user.isAdmin()) { %>
    <a href="/admin/event-page/edit/<%- page.get('id') %>">edit</a>
    <% } %>

    <div class="page-body">

        <div class="page-banner-wrapper<%- video ? ' video-banner' : '' %> <%- picture ? ' picture-banner' : '' %>">

            <% if (picture) { %>

            <img src="/<%- picture %>" alt="" class="page-picture">

            <% } %>

            <% if (page.video) { %>

            <video controls="" width="800" name="media" class="page-video">
                <source src="http://danko-art.ru/video/<%- page.get('video') %>" type="video/mp4">
            </video>

            <div class="banner-play-btn"></div>

            <% } %>

        </div>

        <%- page.get('body') %>
    </div>
</div>
