<p>Какой САМЫЙ Новогодний детский спектакль вы знаете? Уверена, многие ответят именно – Снежная Королева. Эта старая
    добрая сказка трогала души многих поколений и будешь дальше нести «доброе и вечное» нашим детям и внукам. </p>
<p>Вот и театральная студия «Данко» в очередной раз сделала показ спектакля «Снежная Королева». «Но что может быть
    интересного в том, что все уже видели?» – спросите вы. И мы вам ответим! Каждый новый спектакль – это словно новая
    жизнь. Чем то она может быть похожа на остальные жизни, но в целом – это новая, ни с чем не сравнимая история.</p>
<p>Наш ТЮЗ постарался сделать так, что бы во время спектакля не скучали ни взрослые, ни дети.<br>Великолепные диалоги из
    «Снежной королевы» Евгения Львовича Шварца дополнялись песнями из одноименного мюзикла Андрея Морсина. Кроме того,
    все это было приправлено музыкальным обрамлением из бессмертного «Пер Гюнта» Эдварда Грига и украшено классической и
    современной хореографией. </p>
<p>Начинался
    спектакль заводным танцем Кая и Герды с детьми и песней Сказочника, в которой он обещал рассказать всем
    присутствующим интересную историю про мальчика и девочку, что жили под одной крышей.</p>
<p>«Эта сказка и веселая и грустная, и грустная и веселая…» – говорит нам сказочник и действо начинается.</p>
<p><br></p>
<p>С появлением Советницы
    (да-да, именно Советницы, не Советника!) действие разрастается, возвращение бабушки вносит лирическую нотку в
    повествование (чего только стоит монолог бабушки о розах под печальную музыку из оперы «Пер Гюнт»…) и наконец… <br>появляется
    она!</p>
<p><span style="font-weight: bold;">Снежная Королева!</span></p>

<p>Снежная Королева замораживает сердце Кая ледяным поцелуем, и Герда, маленькая Герда отправляется его спасать. Чего
    только не пришлось перенести ей… Кого только не довелось повстречать!</p>
<p>И самых обаятельных в мире Ворон, и добрых Принца с Принцессой, и коварного, трусливого Короля, и устрашающих
    разбойников с Атаманшей и Маленькой Разбойницей.
</p>

<p>
    Но, как в любой сказке,
    все закончилось
    ХОРОШО!
</p>