@font-face {
  font-family: 'century-gothic';
  src: url("../fonts//GOTHIC.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'century-gothic-bold';
  src: url("../fonts//GOTHICB.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'calibri';
  src: url("../fonts//calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.page {
  min-height: 500px; }

body {
  font-family: century-gothic;
  font-size: 15px;
  color: #231a12; }
  body a, body .btn-link {
    color: #2e75b6; }
    body a:hover, body a:focus, body .btn-link:hover, body .btn-link:focus {
      color: #000000;
      text-decoration: none; }
  body p {
    padding: 0px;
    text-indent: 0px; }

.form {
  width: 450px; }
  .form .alert {
    display: none; }
  .form .form-item {
    margin-bottom: 5px;
    position: relative; }
    .form .form-item.error input {
      background-color: #FFE2E2;
      border: 1px solid #BF3031; }
    .form .form-item.error .messages {
      margin: 0;
      padding: 0;
      color: #BF3031; }
      .form .form-item.error .messages li {
        list-style: none outside none; }
      .form .form-item.error .messages li {
        position: absolute;
        bottom: 18px;
        right: -150px;
        width: 150px;
        text-align: left; }
  .form .form-actions {
    margin-top: 10px; }

.btn.btn-warning {
  background-color: #8f1515;
  border-color: #731313; }

header {
  font-size: 14px;
  color: #ffffff; }
  header .logo {
    position: absolute;
    left: -76px;
    z-index: 3; }
    header .logo img {
      height: 148px; }
  header .slogan {
    font-family: century-gothic;
    font-size: 30px;
    line-height: 24px;
    padding-left: 27px;
    margin-left: 91px;
    padding-top: 3px; }
  header .site-name {
    font-size: 46px;
    font-family: century-gothic;
    line-height: 31px;
    margin-left: 91px; }
  header .header-row {
    background-color: #a71919;
    height: 70px;
    margin-left: 72px;
    position: relative; }
    header .header-row .header-top-corner {
      height: 100%;
      background-color: #ffffff;
      background-image: url("../img/header-corner.png");
      background-repeat: no-repeat; }
    header .header-row:last-child {
      margin-top: 4px; }
    header .header-row .search {
      height: 50%;
      margin-left: 75px; }
      header .header-row .search .search-form {
        margin: 6px 68px 6px 6px;
        padding: 0px;
        border: none; }
        header .header-row .search .search-form input.form-control {
          box-shadow: none;
          border: none;
          border-radius: 0px;
          height: auto;
          padding: 2px 12px; }
    header .header-row.navbar {
      border: none;
      border-radius: 0px;
      padding-left: 20px; }
      header .header-row.navbar .navbar-collapse.collapse {
        position: relative;
        height: 100% !important; }
      header .header-row.navbar .header-nav {
        height: 50%;
        margin-left: 75px;
        padding-left: 70px;
        background-color: #ffffff;
        background-image: url("../img/header-nav-corner.png");
        background-repeat: no-repeat; }
        header .header-row.navbar .header-nav .navbar-nav {
          margin: 5px 0px 0px 0px; }
        header .header-row.navbar .header-nav li a {
          padding: 10px 5px;
          font-family: century-gothic;
          font-size: 14px;
          color: #000000; }
          header .header-row.navbar .header-nav li a:hover {
            color: #a71919; }
          @media (min-width: 992px) {
            header .header-row.navbar .header-nav li a {
              padding: 10px 11px; } }
      header .header-row.navbar .navbar-header .navbar-toggle {
        border: none;
        background: none;
        border-radius: 0px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0; }
        header .header-row.navbar .navbar-header .navbar-toggle .icon-bar {
          background-color: #ffffff;
          margin-left: auto;
          margin-right: auto; }
      header .header-row.navbar a {
        color: #ffffff; }
      header .header-row.navbar .navbar-collapse .container {
        position: relative;
        height: 100%; }
  @media (max-width: 768px) {
    header .slogan, header .site-name {
      margin: 0;
      padding: 0; }
    header .slogan {
      font-size: 17px;
      padding-left: 18px;
      padding-right: 20px; }
    header .site-name {
      font-size: 28px;
      line-height: 16px; }
    header .header-row {
      margin: 0px; }
      header .header-row.navbar {
        height: auto !important;
        padding-left: 0px; }
        header .header-row.navbar .header-nav {
          margin-left: 0px;
          padding-left: 2px;
          background-image: none;
          background-color: #a71919; }
          header .header-row.navbar .header-nav li a {
            color: #ffffff;
            text-align: center; }
        header .header-row.navbar .search {
          margin-left: 0px; }
          header .header-row.navbar .search .search-form {
            margin-right: 20px; }
            header .header-row.navbar .search .search-form input.form-control {
              width: 100%; } }

footer {
  margin-top: 100px;
  color: #231a12;
  font-size: 14px; }
  footer .footer-header {
    background-color: #a71919;
    height: 15px; }
  footer .footer-content {
    margin-top: 1px;
    background-color: #ffffff;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 12px; }

.page .page-title {
  border-bottom: 2px solid #A71919;
  margin-bottom: 18px; }
  .page .page-title h1, .page .page-title h2, .page .page-title h3, .page .page-title h4, .page .page-title h5 {
    padding-bottom: 0px;
    margin-bottom: 0px; }

.page .page-picture {
  width: 100%;
  padding-bottom: 15px;
  transition: opacity 1s; }

.page .page-banner-wrapper {
  position: relative;
  width: 100%;
  background: black;
  margin-bottom: 15px; }
  .page .page-banner-wrapper .page-video {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: black;
    right: 1px;
    visibility: hidden; }
  .page .page-banner-wrapper .banner-play-btn {
    transition: opacity 1s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    cursor: pointer;
    z-index: 2;
    background: rgba(0, 0, 0, 0.21); }
    .page .page-banner-wrapper .banner-play-btn::after {
      transition: opacity 1s;
      content: ' ';
      display: block;
      border: 50px solid transparent;
      border-left: 60px solid #d80909;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -55px;
      margin-left: -12px;
      filter: blur(0.8px);
      opacity: 0.8; }
    .page .page-banner-wrapper .banner-play-btn::before {
      transition: 1s;
      content: ' ';
      display: block;
      box-shadow: 0px 0px 8px 75px rgba(255, 255, 255, 0.75);
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      margin-left: 6px;
      margin-top: -5px; }
    .page .page-banner-wrapper .banner-play-btn:hover::after {
      opacity: inherit; }
    .page .page-banner-wrapper .banner-play-btn:hover::before {
      box-shadow: 0px 0px 5px 85px rgba(255, 255, 255, 0.75); }
  .page .page-banner-wrapper.video-playing .page-picture {
    opacity: 0; }
  .page .page-banner-wrapper.video-playing .banner-play-btn {
    display: none; }
  .page .page-banner-wrapper.video-playing .page-video {
    visibility: visible; }
  .page .page-banner-wrapper.video-banner {
    min-height: 300px; }

.home-slider {
  background-color: #e7e6e6;
  margin-bottom: 30px; }
  .home-slider img {
    width: 100%; }
  .home-slider .item {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .home-slider .carousel-control {
    font-size: 100px;
    line-height: 250px; }
  @media (min-width: 100px) {
    .home-slider .item {
      height: 68px; }
    .home-slider .carousel-control {
      line-height: 68px; } }
  @media (min-width: 400px) {
    .home-slider .item {
      height: 125px; }
    .home-slider .carousel-control {
      line-height: 125px; } }
  @media (min-width: 600px) {
    .home-slider .item {
      height: 250px; }
    .home-slider .carousel-control {
      line-height: 250px; } }
  @media (max-width: 600px) {
    .home-slider {
      margin-bottom: 0px; } }

.event.tizer {
  overflow: hidden;
  display: block;
  position: relative;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: #ffffd1;
  margin-bottom: 50px; }
  .event.tizer:hover {
    background-color: #fffadd;
    color: #8f1515; }
    .event.tizer:hover .footer {
      text-decoration: underline; }
  .event.tizer .header, .event.tizer .type {
    height: 30px; }
    .event.tizer .header .title, .event.tizer .type .title {
      text-align: center; }
  .event.tizer .header, .event.tizer .body, .event.tizer .footer {
    padding-right: 25px;
    padding-left: 20px; }
  .event.tizer .header {
    background-color: #8f1515;
    color: #ffffff;
    font-size: 19px; }
  .event.tizer .left, .event.tizer .left .picture {
    position: absolute;
    bottom: 0px;
    left: 0px; }
  .event.tizer .left {
    top: 30px;
    -webkit-box-shadow: 4px 1px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 1px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 25px 0px rgba(0, 0, 0, 0.75); }
    .event.tizer .left .picture {
      background-size: cover;
      top: 0px;
      height: 100%;
      text-align: center;
      background-color: #E7E6E6;
      z-index: 2;
      width: 100%; }
      .event.tizer .left .picture img {
        width: 220px;
        height: 163px; }
    .event.tizer .left .type {
      color: #3e1f00;
      padding-bottom: 3px;
      font-size: 21px; }
  .event.tizer .right {
    min-height: 193px;
    float: right; }
    .event.tizer .right .body {
      padding-top: 10px;
      line-height: 20px;
      min-height: 135px;
      color: #3e1f00; }
    .event.tizer .right .picture img {
      width: 100%;
      margin-top: 15px; }
    .event.tizer .right .footer {
      text-align: right; }
      .event.tizer .right .footer a {
        text-decoration: underline; }
    .event.tizer .right .event-content, .event.tizer .right .date-time {
      left: 0px;
      top: 0px;
      height: 100%; }
    .event.tizer .right .event-content {
      position: relative;
      z-index: 1; }
    .event.tizer .right .date-time {
      position: absolute;
      z-index: 0;
      font-size: 80px;
      color: #faf1c6;
      font-weight: bold;
      width: 100%;
      padding: 15px 22% 0px;
      height: 100%;
      text-align: center;
      line-height: 92px; }
  .event.tizer .pointer {
    position: absolute;
    right: -11px;
    top: -7px; }
    .event.tizer .pointer img {
      width: 60px; }
  @media (max-width: 768px) {
    .event.tizer {
      padding: 0px;
      margin: 0px; }
      .event.tizer .right .picture img {
        width: 100%;
        margin-top: 0px; }
      .event.tizer .right .footer {
        text-align: center;
        line-height: 50px;
        background: #e7e7c5;
        font-size: 20px;
        margin-top: 10px; }
      .event.tizer:active .right .footer, .event.tizer:focus .right .footer {
        background: #aeae8e; } }

.calendar {
  width: 242px;
  border: 2px solid #8f1515;
  background-color: #fffddb;
  font-family: century-gothic; }
  .calendar .header {
    background-color: #8f1515;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px; }
    .calendar .header .title {
      text-align: center; }
  .calendar .days-names {
    background-color: #ffffd1;
    border-bottom: 2px solid #8f1515; }
    .calendar .days-names li a {
      color: #000000;
      font-size: 14px;
      padding: 4px 2px;
      border-right: 1px solid #8f1515;
      width: 34px;
      text-align: center; }
    .calendar .days-names li:last-child a {
      border: none; }
  .calendar .body li a {
    color: #51381b;
    font-size: 15px;
    width: 34px;
    height: 45px;
    text-align: center;
    padding: 12px 2px;
    border-bottom: 1px solid #f5dfc0;
    border-right: 1px solid #F5E9D9; }
    .calendar .body li a.holiday {
      background-color: #fff6c4; }
  .calendar .body li:last-child a {
    border-right: none; }

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity; }

.carousel-fade .carousel-inner .active {
  opacity: 1; }

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1; }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-control {
  z-index: 2; }
