<% if (enableLayout)  { %>
<% layout ('./../layout') -%>
<% } %>

<% for (key in items) { %>
        <div class="view-item simple" style="padding: 10px">
            <% delete items[key].id %>
            <% for (fName in items[key]) { %>
            <div class="view-item-simple-field">
                <div style="display: inline-block; font-weight: bold; width: 150px;">
                    <%- items[key][fName].field.title %>:
                </div>
                <div style="display: inline-block"><%- items[key][fName].html %></div>
            </div>
            <% } %>
        </div>
<% } %>