<% if (enableLayout)  { %>
<% layout ('./../../../views/layout') -%>
<% } %>

<ul id="menu-<%- context.menu.get('id') %>" class="nav<%- (context.menu.get('type') === 'horizontal') ? ' navbar-nav' : '' %>">
    <%- renderedList %>
</ul>

