<% layout ('layout/main') -%>
<% block('title', title); -%>

<% if ((typeof menu === 'object') && menu.admin_menu) { %>
    <div class="collapse navbar-collapse" id="main-navigation">
        <div class="header-nav row">
            <%- menu.admin_menu %>
        </div>
    </div>
<% } %>

<!--<form>-->
    <!--<textarea class="summernote-editor" style="display: none">-->
        <!--text here-->
    <!--</textarea>-->
    <!--<button type="submit" class="btn btn-default">submit</button>-->
<!--</form>-->

