<% var type; %>
<% if (typeof variables === 'string') { %>
<div class="page-item-content"><%- variables %></div>
<% } %>
<% if (typeof variables === 'object') { %>
<% for (var key in variables) { %>
<div class="row page-item page-item-<%- key %>">
    <div class="page-item-content">
        <% type = typeof variables[key] %>
        <% if (type === 'string') { %>
        <%- variables[key] %>
        <% } else if ((type === 'object') && variables[key].form ) { %>
        <form class="app-form-marker" id="<%- variables[key].form %>" data-id="<%- variables[key].id || '' %>" data-theme="<%- theme.name %>"></form>
        <% } else if ((type === 'object') && variables[key].container ) { %>
            <div class="container-fluid">
                <%- variables[key].container %>
            </div>
        <% } %>
    </div>
</div>
<% } %>
<% } %>