<li class="even tree-item" data-id="<%- id %>" data-name="item-<%- id %>" data-parent="<%- parent %>" data-weight="<%- weight %>">
    <div class="row">
        <% for (fName in items) { %>
            <div class="view-item-tree-field col-md-<%- colWeight %>">
                <%- items[fName].html %>
            </div>
            <% } %>
        </div>
    <% if (depth) { %>
        <ol class="row"><%- childs %></ol>
    <% } %>
</li>