@import "elements.scss";

/* Theme Variables
 ------------------------------------------*/
$border-color: #a9a9a9;
$background-color: #f5f5f5;
$summernote-font-path: '/fonts/summernote';

/* Fonts
 ------------------------------------------*/
@font-face {
  font-family: "summernote";
  font-style: normal;
  font-weight: normal;
  src: url("#{$summernote-font-path}/summernote.eot?ad8d7e2d177d2473aecd9b35d16211fb");
  src: url("#{$summernote-font-path}/summernote.eot?#iefix") format("embedded-opentype"),
  url("#{$summernote-font-path}/summernote.woff?ad8d7e2d177d2473aecd9b35d16211fb") format("woff"),
  url("#{$summernote-font-path}/summernote.ttf?ad8d7e2d177d2473aecd9b35d16211fb") format("truetype")
}

[class^="note-icon-"]:before, [class*=" note-icon-"]:before {
  display: inline-block;
  font: normal normal normal 14px summernote;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-rendering: auto;
  text-transform: none;
  vertical-align: middle;
  speak: none;
  -moz-osx-font-smoothing: grayscale
}

.note-icon-align-center:before {
  content: "\f101"
}

.note-icon-align-indent:before {
  content: "\f102"
}

.note-icon-align-justify:before {
  content: "\f103"
}

.note-icon-align-left:before {
  content: "\f104"
}

.note-icon-align-outdent:before {
  content: "\f105"
}

.note-icon-align-right:before {
  content: "\f106"
}

.note-icon-align:before {
  content: "\f107"
}

.note-icon-arrows-alt:before {
  content: "\f108"
}

.note-icon-bold:before {
  content: "\f109"
}

.note-icon-caret:before {
  content: "\f10a"
}

.note-icon-chain-broken:before {
  content: "\f10b"
}

.note-icon-circle:before {
  content: "\f10c"
}

.note-icon-close:before {
  content: "\f10d"
}

.note-icon-code:before {
  content: "\f10e"
}

.note-icon-eraser:before {
  content: "\f10f"
}

.note-icon-font:before {
  content: "\f110"
}

.note-icon-frame:before {
  content: "\f111"
}

.note-icon-italic:before {
  content: "\f112"
}

.note-icon-link:before {
  content: "\f113"
}

.note-icon-magic:before {
  content: "\f114"
}

.note-icon-menu-check:before {
  content: "\f115"
}

.note-icon-minus:before {
  content: "\f116"
}

.note-icon-orderedlist:before {
  content: "\f117"
}

.note-icon-pencil:before {
  content: "\f118"
}

.note-icon-picture:before {
  content: "\f119"
}

.note-icon-question:before {
  content: "\f11a"
}

.note-icon-redo:before {
  content: "\f11b"
}

.note-icon-special-character:before {
  content: "\f11c"
}

.note-icon-square:before {
  content: "\f11d"
}

.note-icon-strikethrough:before {
  content: "\f11e"
}

.note-icon-subscript:before {
  content: "\f11f"
}

.note-icon-summernote:before {
  content: "\f120"
}

.note-icon-superscript:before {
  content: "\f121"
}

.note-icon-table:before {
  content: "\f122"
}

.note-icon-text-height:before {
  content: "\f123"
}

.note-icon-trash:before {
  content: "\f124"
}

.note-icon-underline:before {
  content: "\f125"
}

.note-icon-undo:before {
  content: "\f126"
}

.note-icon-unorderedlist:before {
  content: "\f127"
}

.note-icon-video:before {
  content: "\f128"
}