.calendar {
  width: 242px;
  border: 2px solid #8f1515;
  background-color: #fffddb;
  font-family: century-gothic;
  .header {
    background-color: #8f1515;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    .title {
      text-align: center;
    }
  }
  .days-names {
    background-color: #ffffd1;
    border-bottom: 2px solid #8f1515;
    li {
      a {
        color: #000000;
        font-size: 14px;
        padding: 4px 2px;
        border-right: 1px solid #8f1515;
        width: 34px;
        text-align: center;
      }
      &:last-child {
        a {
          border: none;
        }
      }
    }
  }
  .body {
    li {
      a {
        color: #51381b;
        font-size: 15px;
        width: 34px;
        height: 45px;
        text-align: center;
        padding: 12px 2px;
        border-bottom: 1px solid #f5dfc0;
        border-right: 1px solid #F5E9D9;
        &.holiday {
          background-color: #fff6c4;
        }
      }
      &:last-child {
        a {
          border-right: none;
        }
      }
    }
  }
}