.event {
  &.tizer {
    overflow: hidden;
    display: block;
    position: relative;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
    background-color: #ffffd1;
    margin-bottom: 50px;

    &:hover {
      background-color: #fffadd;
      color: #8f1515;
      .footer {
        text-decoration: underline;
      }
    }
    .header, .type {
      height: 30px;
      .title {
        text-align: center;
      }
    }
    .header, .body, .footer {
      padding-right: 25px;
      padding-left: 20px;
    }
    .header {
      background-color: #8f1515;
      color: #ffffff;
      font-size: 19px;
    }
    .left, .left .picture {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    .left {
      top: 30px;
      -webkit-box-shadow: 4px 1px 18px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 1px 18px 0px rgba(0,0,0,0.75);
      box-shadow: 2px 4px 25px 0px rgba(0, 0, 0, 0.75);
      .picture {
        background-size: cover;
        top: 0px;
        height: 100%;
        text-align: center;
        background-color: #E7E6E6;
        z-index: 2;
        width: 100%;
        img {
          width: 220px;
          height: 163px;
        }
      }
      .type {
        color: #3e1f00;
        padding-bottom: 3px;
        font-size: 21px;
      }
    }
    .right {
      min-height: 193px;
      float: right;
      .body {
        padding-top: 10px;
        line-height: 20px;
        min-height: 135px;
        color: #3e1f00;
      }
      .picture img {
        width: 100%;
        margin-top: 15px;
      }
      .footer {
        text-align: right;
        a {
          text-decoration: underline;
        }
      }
      .event-content, .date-time {
        left: 0px;
        top: 0px;
        height: 100%;
      }
      .event-content {
        position: relative;
        z-index: 1;
      }
      .date-time {
        position: absolute;
        z-index: 0;
        font-size: 80px;
        color: #faf1c6;
        font-weight: bold;
        width: 100%;
        padding: 15px 22% 0px;
        height: 100%;
        text-align: center;
        line-height: 92px;
      }
    }
    .pointer {
      position: absolute;
      right: -11px;
      top: -7px;
      img {
        width: 60px;
      }
    }



    @media (max-width: 768px) {
      padding: 0px;
      margin: 0px;

      .right .picture img {
        width: 100%;
        margin-top: 0px;
      }

      .right .footer {
        text-align: center;
        line-height: 50px;
        background: #e7e7c5;
        font-size: 20px;
        margin-top: 10px;
      }

      &:active, &:focus {
        .right .footer {
          background: #aeae8e;
        }
      }
    }
  }
}