.form {
  width: 450px;
  .alert {
    display: none;
  }
  .form-item {
    margin-bottom: 5px;
    position: relative;
    &.error {
      input {
        background-color: #FFE2E2;
        border: 1px solid #BF3031;
      }
      .messages {
        @include clear-ul();
        color: #BF3031;
        li {
          position: absolute;
          bottom: 18px;
          right: -150px;
          width: 150px;
          text-align: left;
        }
      }
    }
  }
  .form-actions {
    margin-top: 10px;
  }
}
