header {
  font-size: #{$header-font-size};
  color: #{$header-font-color};
  .logo {
    position: absolute;
    left: -76px;
    z-index: 3;
    img {
      height: 148px;
    }
  }
  .slogan {
    font-family: #{$header-info-font};
    font-size: #{$slogan-font-size};
    line-height: 24px;
    padding-left: 27px;
    margin-left: 91px;
    padding-top: 3px;
  }
  .site-name {
    font-size: #{$name-font-size};
    font-family: #{$header-info-font};
    line-height: 31px;
    margin-left: 91px;
  }
  .header-row {
    background-color: #{$header-bg-color};
    height: 70px;
    margin-left: 72px;
    position: relative;
    .header-top-corner {
      height: 100%;
      background-color: #{$base-bg-color};
      @include background-image('header-corner.png');
      background-repeat: no-repeat;
    }
    &:last-child {
      margin-top: 4px;
    }
    .search {
      height: 50%;
      margin-left: 75px;
      .search-form {
        margin: 6px 68px 6px 6px;
        padding: 0px;
        border: none;
        input.form-control {
          box-shadow: none;
          border: none;
          border-radius: 0px;
          height: auto;
          padding: 2px 12px;
        }
      }
    }
    @import 'navbar';
  }
  @media (max-width: 768px) {
    @import 'mobile-header';
  }
}
