.home-slider {
  background-color: #e7e6e6;
  margin-bottom: 30px;
  img {
    width: 100%;
  }
  .item {
    //height: 250px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    //background-size: contain;
    background-position: center;
  }

  .carousel-control {
    font-size: 100px;
    line-height: 250px;
  }

  @media (min-width: 100px) {
    .item { height: 68px; }
    .carousel-control { line-height: 68px }
  }
  @media (min-width: 400px) {
    .item { height: 125px; }
    .carousel-control { line-height: 125px }
  }
  @media (min-width: 600px) {
    .item { height: 250px; }
    .carousel-control { line-height: 250px }
  }

  @media (max-width: 600px) {
    & {
      margin-bottom: 0px;
    }
  }
}