.slogan, .site-name {
  margin: 0;
  padding: 0;
}
.slogan {
  font-size: 17px;
  padding-left: 18px;
  padding-right: 20px;
}
.site-name {
  font-size: 28px;
  line-height: 16px;
}
.header-row {
  margin: 0px;
  &.navbar {
    height: auto !important;
    padding-left: 0px;
    .header-nav {
      margin-left: 0px;
      padding-left: 2px;
      background-image: none;
      background-color: #{$header-bg-color};
      li a {
        color: #ffffff;
        text-align: center;
      }
    }
    .search {
      margin-left: 0px;
      .search-form {
        margin-right: 20px;
        input.form-control {
          width: 100%;
        }
      }
    }
  }
}