&.navbar {
  border: none;
  border-radius: 0px;
  padding-left: 20px;
  .navbar-collapse.collapse {
    position: relative;
    height: 100% !important;
  }
  .header-nav {
    height: 50%;
    margin-left: 75px;
    padding-left: 70px;
    background-color: #{$base-bg-color};
    @include background-image('header-nav-corner.png');
    background-repeat: no-repeat;
    .navbar-nav {
      margin: 5px 0px 0px 0px;
    }
    li a {
      padding: 10px 5px;
      font-family: #{$header-nav-font};
      font-size: 14px;
      color: #000000;
      &:hover {
        color: #{$header-bg-color};
      }
      @media (min-width: 992px) {
        padding: 10px 11px;
      }
    }
  }
  .navbar-header {
    .navbar-toggle {
      border: none;
      background: none;
      border-radius: 0px;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      .icon-bar {
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  a {
    color: #{$header-font-color};
  }
  .navbar-collapse {
    .container {
      position: relative;
      height: 100%;
    }
  }
}