.page {
  .page-title {
    border-bottom: 2px solid #A71919;
    margin-bottom: 18px;
    h1, h2, h3, h4, h5 {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }
  .page-picture {
    width: 100%;
    padding-bottom: 15px;
    transition: opacity 1s;
  }

  //.page-video {
  //  width: 100%;
  //  float: left;
  //}

  .page-banner-wrapper {
    position: relative;
    width: 100%;
    background: black;
    margin-bottom: 15px;

    .page-video {
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      background: black;
      right: 1px;
      visibility: hidden;
    }

    .banner-play-btn {
      transition: opacity 1s;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      bottom: 0%;
      cursor: pointer;
      z-index: 2;
      background: rgba(0, 0, 0, 0.21);

      &::after {
        transition: opacity 1s;
        content: ' ';
        display: block;
        border: 50px solid transparent;
        border-left: 60px solid #d80909;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -55px;
        margin-left: -12px;
        filter: blur(0.8px);
        opacity: 0.8;
      }

      &::before {
        transition: 1s;
        content: ' ';
        display: block;
        //-webkit-box-shadow: 0px 0px 60px 9px rgba(0,0,0,0.75);
        //-moz-box-shadow: 0px 0px 60px 9px rgba(0,0,0,0.75);
        //box-shadow: 0px 0px 5px 83px rgba(255, 255, 255, 0.75);
        box-shadow: 0px 0px 8px 75px rgba(255, 255, 255, 0.75);
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        margin-left: 6px;
        margin-top: -5px;
      }

      &:hover {
        &::after {
          opacity: inherit;
        }
        &::before {
          box-shadow: 0px 0px 5px 85px rgba(255, 255, 255, 0.75);
        }
      }
    }

    &.video-playing {
      .page-picture {
      //.banner-play-btn {
        opacity: 0;
      }
      .banner-play-btn {
        display: none;
      }
      //margin-bottom: 20px;
      .page-video {
        visibility: visible;
      }
    }

    &.video-banner {
      min-height: 300px;
    }
  }
}