<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
    <% if (field.params.link) { %><a href="/<%- field.params.link.prefix %>/<%- field.fields.id %>"><% } %>
            <% if (field.prefix) { %><span class="field-prefix"><%- field.prefix %></span><% } %><span class="field-value"><%- field.get() %></span><% if (field.suffix) { %><span class="field-suffix"><%- field.suffix %></span><% } %>
    <% if (field.params.link) { %></a><% } %>
</div>