<div class="row <%- field.getClasses() %>">
    <% if (field.title) { %>
    <div class="col-md-2">
        <label for="<%- id %>">
            <%- field.title %>
        </label>
    </div>
    <% } %>
    <div class="col-md-3">
        <input type="checkbox" name="<%- field.name %>" id="<%- id %>" active-validate="<%- Boolean(field.activeValidate) %>" <%- field.value ? 'checked' : '' %> <%- (field.required) ? 'required ' : '' %>>
    </div>
    <div class="col-md-7">
        <% if (field.description) { %>
            <span class="form-item-desc">
               <%- field.description %>
            </span>
        <% } %>
    </div>
</div>