<div class="row <%- field.getClasses() %>">
    <% if (field.title) { %>
    <div class="col-md-2">
        <label for="<%- id %>">
            <%- field.title %>
            <% if (field.required) { %>
            <span class="required"></span>
            <% } %>
            <span class="form-item-desc">
                <% if (field.description) { %>
                <%- field.description %>
                <% } %>
            </span>
        </label>
    </div>
    <% } %>
    <div class="col-md-1<%- field.title ? '0' : '2' %>">
        <input value="<%- field.getDefault() || '' %>" type="date" name="<%- field.name %>" class="form-control" id="<%- id %>" placeholder="<%- field.placeholder %>" active-validate="<%- Boolean(field.activeValidate) %>" <%- (field.required) ? 'required ' : '' %>>
    </div>
</div>