<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
    <a href="#" class="popup-form-marker link-menu-item-edit" data-theme="admin" data-form-name="admin-menu-item-form" data-id="<%- id %>" >EDIT</a>
    <a href="#" class="popup-form-marker" data-theme="admin" data-form-name="admin-delete-menu-item" data-id="<%- id %>" >DELETE</a>
</div>