.form .form-item {
  &.toggle-checkbox .form-item-desc {
    display: block;
    text-align: right;
  }
  .toggle {
    min-height: 27px;
    .toggle-off, .toggle-on {
      display: inherit;
      font-size: 14px;
      font-weight: normal;
    }
    .toggle-on {
      text-align: left;
      padding-left: 12px;
    }
    .toggle-off {
      text-align: right;
      padding-right: 12px;
    }
    .toggle-handle.btn {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}