<% if (field.params.isDropdown()) { %>
<a href="<%- link(field.get()) %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%> dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-name="<%- field.name %>" <%- field.renderAttrs() %> ><%- field.params.title %><span class="caret"></span></a>
<% } else { %>
<a href="<%- link(field.get()) %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>" data-name="<%- field.name %>" <%- field.renderAttrs() %> ><%- field.params.title %></a>
<% } %>