<% layout ('/layout/main') -%>
<% block('title', title); -%>

<div class="row">
    <div class="alert alert-danger">
        <div><h2>Error: <%- message %></h2></div>

        <% if (error.status) { %>
             <h4><%= error.status %></h4>
        <% } %>
        <% if (error.stack) { %>
            <pre><%= error.stack %></pre>
        <% } %>

    </div>
</div>