<% layout('/layout/main') %>
<% block('title', title); %>
<% pages.forEach(function(page) { %>

<a href="<%- link('/event-page/' + page._id) %>" class="row event tizer">

    <div class="header">
        <div class="title">
            <%- (page.type ? (page.type + ' ') : '') + page.title %>
        </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-4 hidden-xs left">

        <% if (page.picture && page.picture[0]) { %>
        <div class="picture" style="background-image: url('/<%- page.picture[0].publicPath %>')"></div>

        <% } %>
    </div>
    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 right">
        <div class="date-time row">
            <% if (page.eventDate) { %>

            <%- moment(page.eventDate).format('DD.MM YYYY') %>

            <% } %>
        </div>
        <div class="event-content row">
            <div class="picture hidden-lg hidden-md hidden-sm">
                <% if (page.picture && page.picture[0]) { %>
                <img src="/<%- page.picture[0].publicPath %>"/>
                <% } %>
            </div>
            <div class="body">
                <%- subString(clearHtml(page.body), 400) %>
            </div>
            <div class="footer">
                Читать полностью...
            </div>
        </div>
    </div>
    <div class="pointer hidden-xs">
        <img src="/img/events/pointer.png"/>
    </div>
</a>

<% }) %>
