<% layout ('layout/main') %>
<% block('title', title) %>

<div class="">
    <div class="page-content">
        <% if (typeof variables === 'string') { %>
        <div class="page-item-content"><%- variables %></div>
        <% } %>
        <% if (typeof variables === 'object') { %>
        <% for (var key in variables) { %>
        <div class="page-item page-item-<%- key %>">
            <div class="page-item-content">
                <% type = typeof variables[key] %>
                <% if (type === 'string') { %>
                <%- variables[key] %>
                <% } else if ((type === 'object') && variables[key].form ) { %>
                <form class="app-form-marker" id="<%- variables[key].form %>" data-theme="<%- theme.name %>"></form>
                <% } %>
            </div>
        </div>
        <% } %>
        <% } %>
    </div>
</div>