<div>Если Вы все еще не уверены в том, что театр – это именно то, что нужно Вашему ребенку, мы приведем еще несколько
    примеров, почему театральное искусство положительно сказывается на развивающуюся личность.&nbsp;<br></div>
<div>Помимо доводов, которые мы привели Вам в этой статье (ссыль на Спектр предоставляемых услуг), приведем еще
    несколько аргументов.&nbsp;</div>
<div><br></div>
<div><span style="font-weight: bold;">- Общение и адаптация в коллективе.</span></div>
<div>Это один из навыков, который чрезвычайно важен для любого родителя: все мы хотим, чтобы наш ребенок свободно
    чувствовал себя в социуме, а развивать этот навык – одна из целей студии «Данко»&nbsp;</div>
<div>Помимо развивающих игр и квестов, которые помогут чувствовать себя комфортно как активному непоседе, так и
    стеснительному скромняшке, мы учим детей взаимодействовать друг с другом. Работая на сцене, проигрывая различные
    жизненные ситуации, Ваш ребенок приобретет важный опыт для различных моделей общения: положение тела, выражение глаз
    или интонация голоса.&nbsp;</div>
<div><br></div>
<div><span style="font-weight: bold;">- Физическая активность&nbsp;</span></div>
<div>Одним из важных факторов, влияющих на работу актера, является физическая подготовка и пластика. Коллектив «Данко»
    также уделяет этому особое внимание – даже если мы не ставим танцевальные номера, мы даем детям возможность не
    только выплеснуть энергию, но и поворачиваем ее в нужное русло. Это своеобразное спасение тех родителей, которые
    бояться, что их «живчики» никак не растеряют свою активность, и, в то же время мы следим, чтобы малоактивные детки
    больше двигались и набирали форму.&nbsp;</div>
<div><br></div>
<div><span style="font-weight: bold;">- Развитие слуховой и зрительной памяти&nbsp;</span></div>
<div>Благодаря специфике работы в нашем театральном кружке, ребенок быстро учиться запоминать большие объемы информации.
    Это и речевые упражнения, и текст для роли (причем не только свой, а всего спектакля), расположение декораций и
    актеров в мизансценах. Как следствие – быстрее развивается слуховая и зрительная память, ребенок становится более
    внимательным и, соответственно, легче усваивает информацию, радуя родителей успехами в школе.&nbsp;</div>
<div><br></div>
<div><span style="font-weight: bold;">- Самодисциплина и самоорганизация&nbsp;</span></div>
<div>Театр – один огромный механизм, где каждый актер – шестеренка, без которой механизм сломается. Мы стараемся сразу
    привить ребенку осознание собственной значимости и ответственности. Дети быстро учатся нести ответственность за свои
    действия, реквизит и костюм. Мы стараемся дать понять каждому ребенку, что конечный результат зависит только от его
    желания, собранности и готовности работать.&nbsp;</div>
<div><br></div>
<div><span style="font-weight: bold;">- Уверенность в себе&nbsp;</span></div>
<div>Большинство родителей, отдавая ребенка в студию, чаще всего надеяться, что их ребенок получит возможность избавится
    от комплексов, неуверенности в себе, сможет самореализоваться и ощутить собственную нужность. А театральная студия
    «Данко» реализует эти надежды на практике. Мы даем детям возможность проявлять инициативу, достигать маленьких побед
    над собой. А восторженные аплодисменты зрителей, удовлетворение от прекрасно проделанной работы – легко поднимут
    самооценку Вашего ребенка.&nbsp;</div>
<div>Если Вы все еще не верите нам, то театральная студия «Данко» приглашает вас по адресу: ул. Пушкина, 19/11
    Симферопольский городской театр эстрады на пробную репетицию (ссыль на соответсвующую статью), чтобы Вы и Ваш
    ребенок убедились сами.
</div>