<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="author" content="">

    <% if (metatags) { %>
        <meta name="description" content='<%- metatags.description %>'>
        <meta name="keywords" content='<%- metatags.keywords %>'>
        <title><%- metatags.title || (blocks.title + ' Театральная студия Данко')%></title>
    <% } %>

    <title><%- (blocks.title + ' Театральная студия Данко') %></title>

    <meta name="yandex-verification" content="bcacf97dbc500f10" />
    <meta name="google-site-verification" content="J8jL0JMnaHTdJZhAZIxkd7E2MGHA556RSQ0o1BYPNec" />

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css" media="screen"/>
    <!--<link rel="stylesheet" href="/css/jquery-ui/jquery-ui-1.9.2.custom.min.css" type="text/css" media="screen"/>-->

    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" href="/dist/css/danko-icons.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/tuz-main.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="/js/yandex.js"></script>
    <script type="text/javascript" src="/js/google.js"></script>

</head>
<body class="page<%- (user && user.auth) ? ' logged-in' : '' %>" data-ctrl="Ctrl"
        <% for (var vName in jsValues) { %>
      data-<%- vName %>='<%- jsValues[vName] %>'
        <% } %>
        >

<% if (typeof adminNav === 'string') { %>
<%- adminNav %>
<% } %>

    <div id="wrapper" class="container-fluid">
        <div class="row"><%- partial('../partials/header') %></div>
        <div class="row"><%- partial('../partials/slider') %></div>
        <div class="row"><%- partial('../partials/page') %></div>
        <div class="row"><%- partial('../partials/footer') %></div>
    </div>
</body>

<% if (jsFileName) { %>
<script type="text/javascript" src="/js/cache/<%- jsFileName %>"></script>
<% } %>

<% if (scripts.length > 0) { %>
<% for (var key in scripts) { %>
<script type="text/javascript" src="/<%- scripts[key] %>"></script>
<% } %>
<% } %>
<!--<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>-->

</html>