<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
    <a href="/admin/goods/category/<%- id %>/goods" class="link-goods-categories-items">GOODS</a>
    <a href="/admin/goods/category/<%- id %>/edit" class="popup-form-marker link-goods-categories-edit" data-theme="admin" data-id="<%- id %>" data-form-name="admin-goods-categories-form" data-id="" >EDIT</a>
    <a href="#" class="popup-form-marker" data-theme="admin" data-form-name="admin-goods-category-delete-form" data-id="<%- id %>" >DELETE</a>
</div>