<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
<a href="/event-page/<%- id %>" class="link-event-page-view">VIEW</a>
<a href="/admin/event-page/edit/<%- id %>" class="link-event-page-edit">EDIT</a>
<a href="#" class="popup-form-marker" data-theme="admin" data-form-name="admin-event-page-delete-form" data-id="<%- id %>" >DELETE</a>

</div>
