<div class="calendar container-fluid pull-right">
    <div class="row header">
        <div class="col-md-2 col-xs-1 prev">&lsaquo;</div>
        <div class="col-md-8 col-xs-10 title">
            <span class="month"></span>
            <span class="year"></span>
        </div>
        <div class="col-md-2 col-xs-1 next">&rsaquo;</div>
    </div>
    <div class="row days-names">
        <ul class="nav navbar-nav">
            <li><a href="#">Пн</a></li>
            <li><a href="#">Вт</a></li>
            <li><a href="#">Ср</a></li>
            <li><a href="#">Чт</a></li>
            <li><a href="#">Пт</a></li>
            <li><a href="#">Сб</a></li>
            <li><a href="#">Вс</a></li>
        </ul>
    </div>
    <div class="row body"><ul class="nav navbar-nav">
            <li><a href="#"> </a></li>
            <li><a href="#"> </a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a class="holiday" href="#">4</a></li>
            <li><a class="holiday" href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a class="holiday" href="#">11</a></li>
            <li><a class="holiday" href="#">12</a></li>
            <li><a href="#">13</a></li>
            <li><a href="#">14</a></li>
            <li><a href="#">15</a></li>
            <li><a href="#">16</a></li>
            <li><a href="#">17</a></li>
            <li><a class="holiday" href="#">18</a></li>
            <li><a class="holiday" href="#">19</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#">21</a></li>
            <li><a href="#">22</a></li>
            <li><a href="#">23</a></li>
            <li><a href="#">24</a></li>
            <li><a class="holiday" href="#">25</a></li>
            <li><a class="holiday" href="#">26</a></li>
            <li><a href="#">27</a></li>
            <li><a href="#">28</a></li>
            <li><a href="#">29</a></li>
            <li><a href="#">30</a></li>
        </ul>
    </div>
</div>