<footer class="navbar-static-bottom">
    <div class="navbar-inner">
        <div class="container">
            <div class="row footer-header"></div>
            <div class="row footer-content">
                Телефоны для справок:
                моб: <strong>+79787932870</strong>
                <% if (user.isAuth()) { %>
                <a class="pull-right btn btn-link popup-form-marker" data-form-name="user-logout-form" href="/login">Выход</a>
                <% } else { %>
                <a class="pull-right btn btn-link popup-form-marker" data-form-name="user-login-form" href="/login">Вход</a>
                <% } %>
            </div>
        </div>
    </div>
</footer>