<header>
    <div class="container">
        <div class="row">
            <div class="header-row hidden-xs">
                <div class="logo">
                    <a href="/"><img src="<%- logoFileName %>" alt="Домой"/></a>
                </div>
                <div class="header-content col-lg-7 col-md-8 col-sm-12 col-xs-12">
                    <div class="slogan">
                        <%- siteSlogan %>
                    </div>
                    <div class="site-name">
                        <%- siteName %>
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 header-top-corner hidden-sm hidden-xs"></div>
            </div>
            <div class="header-row navbar navbar-default">
                <!--<div class="container hidden-md hidden-lg hidden-sm">-->
                    <div class="navbar-header hidden-md hidden-lg hidden-sm container">
                        <div class="row">
                            <div class="col-xs-9">
                                <a href="/">
                                    <div class="slogan">
                                        <%- siteSlogan %>
                                    </div>
                                    <div class="site-name">
                                        <%- siteName %>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <button type="button" class="navbar-toggle btn btn-block" data-toggle="collapse"
                                        data-target="#main-navigation">
                                    <span class="sr-only">Навигация</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <!--<div class="container-fluid">-->
                        <div class="search row">
                            <form class="navbar-form navbar-right search-form" role="search">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Поиск" type="text">
                                </div>
                            </form>
                        </div>
                        <div class="header-nav row">
                            <% if (typeof menu === 'object') { %>
                                <%- menu.navigation %>
                            <% } %>
                        </div>
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</header>