
    <div class="container page">
        <% if (typeof isHomePage === 'undefined') { %>
        <div class="page-title">
            <h3><%= blocks.title %></h3>
        </div>
        <% } %>
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <%- body %>
            </div>
            <div class="col-md-3 hidden-xs hidden-sm">
                <%- partial('./calendar') %>
                <%- partial('./vk') %>
            </div>
        </div>
    </div>
