<% if (typeof isHomePage !== 'undefined') { %>
    <div class="container-fluid home-slider">
        <div class="row">
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<img src="/img/slider/1.png" />-->
                <!--</div>-->
            <!--</div>-->
            <div class="container">
                <div class="row">
                    <div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                        <ol class="carousel-indicators">
                            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                            <!--<li data-target="#home-carousel" data-slide-to="1" class=""></li>-->
                            <li data-target="#home-carousel" data-slide-to="1" class=""></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <!-- <div class="item active"><img src="/img/slider/1.png"/></div> -->
                            <div class="item active" style="background-image: url('/pictures/fest.jpg');"></div>
                            <!--<div class="item" style="background-image: url('/pictures/lesnaya.jpg');"></div>-->
                            <div class="item" style="background-image: url('/pictures/otchet.jpg');"></div>

                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>
