<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

<div class="vk pull-right" style="width: 242px; margin-top: 15px">

    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {
            mode: 0,
            width: "242",
            height: "400",
            color1: 'FFFFD1',
            color2: '51381B',
            color3: '8F1515'
        }, 139207833);
    </script>
</div>


<div class="vk pull-right" style="width: 242px; margin-top: 15px">


    <!-- VK Widget -->
    <div id="vk_groups_2"></div>
    <script type="text/javascript">
        VK.Widgets.Group("vk_groups_2", {
            mode: 4,
            width: "242",
            height: "400",
            color1: 'FFFFD1',
            color2: '51381B',
            color3: '8F1515'
        }, 139207833);
    </script>
</div>