$base-img-url: '../img/';
$base-fonts-url: '../fonts/';

$base-font: segoe_uiregular;
$base-font-l: segoe_uilight;
$base-font-sb: segoe_uisemibold;
$base-font-b: segoe_uibold;
$secondary-font: pistararegular;

$content-min-width: 100%;//964px;
$content-max-width: 100%;//964px;
$content-width: 100%;//964px;
$content-min-height: 600px;

$footer-height: 112px;
$min-content-height: 750px;

$base-font-size: 13px;
$base-font-color: #fff;

$base-bg-color: #000;

$header-bg-color: #01394b;
$footer-bg-color: transparent;

