<div class="pagination">
    <% if (pagesCount > 1) { %>
    <ul>
        <% for(num = 1; num <= pagesCount; num++) { %>
        <li>
            <a href="#" data-page="<%- num %>" class="pager-btn<%- (num === page) ? ' active' : '' %>" >
                <%- num %>
            </a>
        </li>
        <% } %>
    </ul>
    <% } %>
</div>