<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%- siteDomain %> - <%= blocks.title%></title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/jquery-ui/jquery-ui-1.9.2.custom.min.css" type="text/css" media="screen"/>
    <!--<link rel="stylesheet" href="/css/jquery-treetable/jquery.treetable.css" type="text/css" media="screen"/>-->
    <!--<link rel="stylesheet" href="/css/jquery-treetable/jquery.treetable.theme.default.css" type="text/css" media="screen"/>-->
    <link rel="stylesheet" href="/css/admin-main.css" type="text/css" media="screen"/>
</head>
<body class="page<%- (user && user.auth) ? ' logged-in' : '' %>" data-ctrl="Ctrl" <% for (var vName in jsValues) { %> data-<%- vName %>='<%- jsValues[vName] %>' <% } %> >

<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <% if (typeof adminNav === 'string') { %>
                 <%- adminNav %>
            <% } %>
            <div class="row page-header">
                <div class="col-lg-12">
                    <h3><%= blocks.title %></h3>
                </div>
            </div>
            <div class="row page-body"><%-body -%></div>
        </div>
    </div>
</div>

</body>

<% if (jsFileName) { %>
<script src="/js/cache/<%- jsFileName %>"></script>
<% } %>
<% if (scripts.length > 0) { %>
<% for (var key in scripts) { %>
<script src="/<%- scripts[key] %>"></script><% } %>
<% } %>
<!--<script src="/js/bootstrap/bootstrap.min.js"></script>-->
</html>