.note-editor {
  &.fullscreen {
    background: #333333;
    .note-editable {
      max-width: 860px;
      margin: 0 auto;
//      padding-bottom: 100px;
    }
  }
  &.codeview {
    .note-codable {
      max-width: 860px;
      margin: 0 auto;
      background-color: #ffffff;
      color: inherit;
    }
  }
//  .note-editable {
//    img {
//      margin-right: 10px;
//      margin-top: 4px;
//    }
//  }
  .popover .popover-content {
    width: 210px;
  }
  .popover .popover-content .input-group {
    margin-bottom: 10px;
  }
  .popover .popover-content .input-group .input-group-addon:first-child {
    width: 70px;
  }
  .popover .popover-content input[type="checkbox"] {
    width: 18px;
    margin-top: 0px;
    margin-right: 10px;
  }
}