body {
  font-family: #{$base-font};
  font-size: #{$base-font-size};
  color: #{$base-font-color};
  a, .btn-link {
    color: #{$base-link-color};
    &:hover, &:focus {
      color: #{$base-link-hover-color};
      text-decoration: none;
    }
  }

  p {
    padding: 0px;
    //margin: 0px;
    text-indent: 0px;
  }
}