@font-face {
  font-family: 'century-gothic';
  src: url('#{$base-fonts-url}/GOTHIC.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'century-gothic-bold';
  src: url('#{$base-fonts-url}/GOTHICB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'calibri';
  src: url('#{$base-fonts-url}/calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}