$base-img-url: '../img/';
$base-fonts-url: '../fonts/';

$base-font: century-gothic;
$header-info-font: century-gothic;
$header-nav-font: century-gothic;
$secondary-font: arial;

$footer-height: 50px;
$page-min-height: 500px;

$base-font-size: 15px;
$base-font-color: #231a12;

$header-font-size: 14px;
$slogan-font-size: 30px;
$name-font-size: 46px;
$header-font-color: #ffffff;

$footer-font-size: 14px;
$footer-font-color: #231a12;

$base-bg-color: #ffffff;
$header-bg-color: #a71919;
$footer-bg-color: #a71919;
$base-link-color: #2e75b6;
$base-link-hover-color: #000000;