<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
    <% acts =  field.params.actions %>
    <% if (acts) { %>
        <% for (var n in acts) { %>
            <a href="<%- (acts[n].path ? acts[n].path.replace('%id', id) : '#') %>" class="<%- (acts[n].class ? acts[n].class : '') %>" data-theme="admin" data-id="<%- id %>" <% if (acts[n].data) { %><% for (var k in acts[n].data) { %>data-<%- k %>="<%- acts[n].data[k] %>" <% } %><% } %>>
                <%- (acts[n].title ? acts[n].title : '') %>
            </a>
        <% } %>
    <% } %>
</div>