<div class="row form-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
    <div class="col-md-5">
        <label for="<%- id %>">
            <%- field.title %>
            <% if (field.required) { %>
            <span class="required">*</span>
            <% } %>
            <span class="form-item-desc">
                <% if (field.description) { %>
                <%- field.description %>
                <% } %>
            </span>
        </label>
    </div>
    <div class="col-md-7">
        <div class="checkbox-gr-wrapper" id="<%- id %>" >
            <% for (var itemID in field.items) { %>
            <div class="form-control checkbox-gr-item>" active-validate="<%- Boolean(field.activeValidate) %>" >
                <input type="checkbox" name="<%- field.name %>_group" value="<%- itemID %>" <%- (field.value == itemID) ? 'checked' : '' %> />
                <%- field.items[itemID] %>
            </div>';
            <% } %>
        </div>
    </div>
</div>


