<div class="row form-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
    <div class="col-md-5">
        <label for="<%- id %>">
            <%- field.title %>
        </label>
    </div>
    <div class="col-md-7">
        <input type="checkbox" name="<%- field.name %>" id="<%- id %>" active-validate="<%- Boolean(field.activeValidate) %>" <%- field.value ? 'checked' : '' %> <%- (field.required) ? 'required ' : '' %>>
    </div>
</div>