<div class="row form-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
    <div class="col-md-5">
        <label for="<%- id %>">
            <%- field.title %>
            <% if (field.required) { %>
            <span class="required">*</span>
            <% } %>
            <span class="form-item-desc">
                <% if (field.description) { %>
                <%- field.description %>
                <% } %>
            </span>
        </label>
    </div>
    <div class="col-md-7">
        <input value="<%- defaultValue || '' %>" type="date" name="<%- field.name %>" class="form-control" id="<%- id %>" placeholder="<%- field.placeholder %>" active-validate="<%- Boolean(field.activeValidate) %>" <%- (field.required) ? 'required ' : '' %>>
    </div>
</div>