<% if (enableLayout)  { %>
    <% layout ('./../layout') -%>
<% } %>

<div class="view-table">
    <table cellspacing="0">
        <thead>
        <tr>
            <% for (hName in fields) { %>
            <th><a href="#" class="sort-link <%- hName %>" data-name="<%- hName %>"> <%- fields[hName].title || '' %></a></th>
            <% } %>
        </tr>
        </thead>
        <tbody>
        <% for (key in items) { %>
        <tr data-itemId="<%- items[key].id %>" class="<%- ((( Number(key) + 1) % 2) == 0) ? 'even' : 'odd' %>">
            <% for (bName in fields) { %>
            <td>
                <%- items[key][bName] ? items[key][bName].html : '' %>
            </td>
            <% } %>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

