<link rel="stylesheet" href="/dist/css/danko-icons.css" type="text/css" media="screen"/>

<% _.each(glyphs, function(glyph) { %>
<% var name = cssClass + glyph.fileName.replace(/^[a-zA-Z0-9]{2,}-/, '-') %>
<div>
    <span style="width: 100px;">
        <i class="<%= cssClass %> <%= name %>" style="font-size: 50px;"></i>
    </span>
    <span style="padding-left: 15px; color: rgba(255,58,9,0.65)">
        <%= cssClass %> <%= name %>
    </span>
</div>

<% }); %>