<% layout ('/layout/main') %>
<% block('title', title); %>

<div class="form-login form">
    <div class="form-login-content form-content">
        <form id="user-login-form" class="app-form-marker"></form>
    </div>
</div>
