<% layout ('/layout/main') -%>
<% block('title', title); -%>

<h2>Register:</h2>
<div class="form-user-register-form form">
    <div class="form-user-register-form-content form-content">
        <form id="user-register-form" class="app-form-marker"></form>
    </div>
</div>
